<?xml version="1.0"?>
<model>
  <name>Peach</name>
  <version>1.0</version>
  <sdf version='1.9'>model.sdf</sdf>

  <author>
   <name>Kousheek Chakraborty</name>
   <email>k.chakraborty@saxion.nl</email>
  </author>

  <description>
    Peach model for over actuated system
  </description>
</model>
