<?xml version="1.0"?>
<model>
  <name>rl_frame</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>
  <author>
    <name>Thijs Hof</name>
    <email>t.h.hof@saxion.nl</email>
  </author>
  <description>Model used for RL-based Control of UAVs Subject to
Significant Disturbance.</description>
</model>
